.search_form {
  position: relative;
  flex: 1 1 0%;
  width: calc(100vw - 17.2rem);
}
.searchBar_Container {
  width: auto;
  display: flex;
  flex-direction: column;
}
.searchBar_mobile {
  display: flex;
}

.input_button_layout {
  height: 36px;
  width: calc(100vw - 17.2rem);
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}
.input_button_layout:focus-within {
  outline: 1px solid white;
  border: 2px solid black;
}
.form_input:focus {
  outline: none;
  border: none;
}
.form_input {
  position: relative;
  left: 15px;
  width: calc(100vw - 17.2rem);
  height: 36px;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}
.submit_button {
  top: 2px;
  left: -10px;
  position: relative;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
