.section_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner img {
  width: 320px;
  height: 147.5px;
}
.banner a {
  height: 147.5px;
}
